body{
    padding:1vh;
}
.icon-left{
    position:absolute;
    top:4vh;
    left:1vw;
}

.icon-right{
    position:absolute;
    bottom:4vh;
    right:1vw;
}
.season-display{
   display:flex;
    justify-content: center;
    align-items: center;
    height:96vh;
}

.season-display.winter i {
color:cornflowerblue;
}

.season-display.summer i {
color:yellow;
}

.winter{
    background-color:lightblue;
}
.summer{
    background-color:orange;
}

.border{
    border: 1vh double black;
    position:static;
    bottom:10px;
}